In [829]:
from decimal import Decimal
import pandas as pd

In [830]:
df = pd.read_csv('trusted-for-alternative.csv', converters={'latitude': Decimal, 'longitude': Decimal})

In [831]:
candidates = ['against', 'cherechen', 'corrupted', 'dmitriyev', 'kanopatskaja', 'tihanovkaja']
alt_candidates = ['against', 'cherechen', 'corrupted', 'dmitriyev', 'kanopatskaja']

In [832]:
df.loc[df['corrupted_officialVotes'].isna(), 'corrupted_officialVotes'] = 0

In [833]:
df.loc[df['id'] == '01-054-0001', 'against_officialVotes']

19    381.0
Name: against_officialVotes, dtype: float64

In [834]:
df.loc[df['id'] == '07-001-0089', 'officialVotes'] -= 42
df.loc[df['id'] == '01-054-0001', 'against_officialVotes'] -= 185

In [835]:
diff = df['officialVotes'] - sum(df[f'{c}_officialVotes'] for c in (candidates + ['lukashenko']))

In [836]:
df[diff != 0][['officialVotes', 'corrupted_officialVotes', 'against_officialVotes']]

     officialVotes  corrupted_officialVotes  against_officialVotes
11          1919.0                     17.0                  121.0
13          1940.0                     22.0                  164.0
71           711.0                      6.0                   52.0
99          1451.0                     13.0                   38.0
105         1410.0                      4.0                  108.0
109         1383.0                     12.0                   49.0
179          813.0                     13.0                   44.0
193         1538.0                     12.0                  121.0
208          711.0                      0.0                   40.0
214         1733.0                      9.0                   88.0
218         1900.0                     53.0                   70.0
229         1448.0                      4.0                   72.0
243         1151.0                      0.0                   60.0
247         1151.0                      8.0                   73.0
264         1446.0                     16.0                   74.0
270         1414.0                     97.0                  116.0
284         1193.0                      4.0                   71.0

In [837]:
diff[diff != 0]

11    -17.0
13      1.0
71     -3.0
99      3.0
105     2.0
109    -4.0
179     1.0
193   -12.0
208     2.0
214     9.0
218     2.0
229     6.0
243    12.0
247    -5.0
264     1.0
270   -24.0
284    -5.0
dtype: float64

In [838]:
df.loc[diff < 0, 'officialVotes'] -= diff
df.loc[diff > 0, 'corrupted_officialVotes'] += diff

In [839]:
df.to_csv('trusted-for-alternative-fixed.csv', index=False)